<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div>

    <div>
        <div>
            <h2>Show Product</h2>
        </div>
    </div>
    <div>
        <div>
            <form>
                <div>
                    <label>Product Id:</label>
                    <div>
                        <p th:text="${product.id}">Product Id</p>
                    </div>
                </div>
                <div>
                    <label>Description:</label>
                    <div>
                        <p th:text="${product.description}">Description</p>
                    </div>
                </div>
                <div>
                    <label>Price:</label>
                    <div>
                        <p th:text="${product.price}">Price</p>
                    </div>
                </div>
                <div>
                    <label>Image URL:</label>
                    <div>
                        <p th:text="${product.imageUrl}">Image</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>